In [3]:
import pandas as pd
import seaborn as sns

In [4]:
df = pd.read_csv('/Users/jason/Desktop/CCT/Data Prep/CA1_Materials/student_data (1).csv')

File size is 533,190 bytes (537 KB on disk) which means....

In [5]:
pd.set_option('display.max_columns', None)

I prefer this as it allows me to get a better impression of the Dataset

In [6]:
df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171.0,1,1,122.0,1,19,12.0,5,9,127.3,1,0,0.0,1,1,0,20,0.0,0,0,0,0,0.000000,0,0,0.0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254.0,1,1,160.0,1,1,3.0,3,3,142.5,1,0,0.0,0,1,0,19,0.0,0,6,6,6,14.000000,0,0,6.0,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070.0,1,1,122.0,1,37,37.0,9,9,124.8,1,0,0.0,0,1,0,19,0.0,0,6,0,0,0.000000,0,0,6.0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773.0,1,1,122.0,1,38,37.0,5,3,119.6,1,0,0.0,1,0,0,20,0.0,0,6,8,6,13.428571,0,0,6.0,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014.0,0,1,100.0,1,37,38.0,9,9,141.5,0,0,0.0,1,0,0,45,0.0,0,6,9,5,12.333333,0,0,6.0,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773.0,1,1,125.0,1,1,1.0,5,4,122.2,0,0,0.0,1,1,0,19,0.0,0,6,7,5,13.600000,0,0,6.0,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773.0,1,1,120.0,105,1,1.0,9,9,119.0,1,0,1.0,0,0,0,18,1.0,0,6,6,6,12.000000,0,0,6.0,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500.0,1,1,154.0,1,37,37.0,9,9,149.5,1,0,0.0,1,0,1,30,0.0,0,7,8,7,14.912500,0,0,8.0,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147.0,1,1,180.0,1,37,37.0,7,4,153.8,1,0,0.0,1,0,1,20,0.0,0,5,5,5,13.800000,0,0,5.0,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773.0,1,1,152.0,22,38,37.0,5,9,152.0,1,0,0.0,1,0,0,22,1.0,0,6,8,6,11.666667,0,0,6.0,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

Now that is done, I am going to do some simple renaming

In [55]:
df.rename(columns={
    'Marital status': 'marital_status',
    'Application mode': 'application_mode',
    'Application order': 'application_order',
    'Course': 'course',
    'Daytime/evening attendance': 'attendance_type',
    'Previous qualification': 'prev_qualification',
    'Previous qualification (grade)': 'prev_qualification_grade',
    'Nacionality': 'nationality', 
    'Mother\'s qualification': 'mother_qualification', 
    'Father\'s qualification': 'father_qualification',
    'Mother\'s occupation': 'mother_occupation',
    'Father\'s occupation': 'father_occupation',
    'Admission grade': 'admission_grade',
    'Displaced': 'displaced',
    'Educational special needs': 'special_needs',
    'Debtor': 'debtor',
    'Tuition fees up to date': 'fees_up_to_date',
    'Gender': 'gender',
    'Scholarship holder': 'scholarship_holder',
    'Age at enrollment': 'age_at_enrollment',
    'International': 'international',
    'Curricular units 1st sem (credited)': 'cu_1st_sem_credited',
    'Curricular units 1st sem (enrolled)': 'cu_1st_sem_enrolled',
    'Curricular units 1st sem (evaluations)': 'cu_1st_sem_evaluations',
    'Curricular units 1st sem (approved)': 'cu_1st_sem_approved',
    'Curricular units 1st sem (grade)': 'cu_1st_sem_grade',
    'Curricular units 1st sem (without evaluations)': 'cu_1st_sem_no_evals',
    'Curricular units 2nd sem (credited)': 'cu_2nd_sem_credited',
    'Curricular units 2nd sem (enrolled)': 'cu_2nd_sem_enrolled',
    'Curricular units 2nd sem (evaluations)': 'cu_2nd_sem_evaluations',
    'Curricular units 2nd sem (approved)': 'cu_2nd_sem_approved',
    'Curricular units 2nd sem (grade)': 'cu_2nd_sem_grade',
    'Curricular units 2nd sem (without evaluations)': 'cu_2nd_sem_no_evals',
    'Unemployment rate': 'unemployment_rate',
    'Inflation rate': 'inflation_rate',
    'GDP': 'gdp',
    'Target': 'target'
    
}, inplace=True)

I can see now that there are 37 features, which should indicate an overall richer description. 
I can also see that with 4424 observations, I can train my model better but computational power should be considered.

In [56]:
df.isnull().sum()

marital_status              0
application_mode            0
application_order           0
course                      0
attendance_type             0
prev_qualification          0
prev_qualification_grade    0
nationality                 0
mother_qualification        0
father_qualification        0
mother_occupation           0
father_occupation           0
admission_grade             0
displaced                   0
special_needs               0
debtor                      0
fees_up_to_date             0
gender                      0
scholarship_holder          0
age_at_enrollment           0
international               0
cu_1st_sem_credited         0
cu_1st_sem_enrolled         0
cu_1st_sem_evaluations      0
cu_1st_sem_approved         0
cu_1st_sem_grade            0
cu_1st_sem_no_evals         0
cu_2nd_sem_credited         0
cu_2nd_sem_enrolled         0
cu_2nd_sem_evaluations      0
cu_2nd_sem_approved         0
cu_2nd_sem_grade            0
cu_2nd_sem_no_evals         0
unemployment_rate           0
inflation_rate              0
gdp                         0
target                      0
dtype: int64

With so few null values, I will choose to drop rather than impute. Then check. 
Also a good to double check my renaming.

In [57]:
df.dropna(axis=0,inplace=True)

how = 'any'
how = 'all' 

print(df.isnull().sum())

marital_status              0
application_mode            0
application_order           0
course                      0
attendance_type             0
prev_qualification          0
prev_qualification_grade    0
nationality                 0
mother_qualification        0
father_qualification        0
mother_occupation           0
father_occupation           0
admission_grade             0
displaced                   0
special_needs               0
debtor                      0
fees_up_to_date             0
gender                      0
scholarship_holder          0
age_at_enrollment           0
international               0
cu_1st_sem_credited         0
cu_1st_sem_enrolled         0
cu_1st_sem_evaluations      0
cu_1st_sem_approved         0
cu_1st_sem_grade            0
cu_1st_sem_no_evals         0
cu_2nd_sem_credited         0
cu_2nd_sem_enrolled         0
cu_2nd_sem_evaluations      0
cu_2nd_sem_approved         0
cu_2nd_sem_grade            0
cu_2nd_sem_no_evals         0
unemployment_rate           0
inflation_rate              0
gdp                         0
target                      0
dtype: int64

In [58]:
duplicate_rows_df = df[df.duplicated()]
print('number of duplicate rows: ', duplicate_rows_df.shape)

number of duplicate rows:  (0, 37)

I see there are no duplicates

In [59]:
df.dtypes

marital_status              float64
application_mode              int64
application_order             int64
course                      float64
attendance_type               int64
prev_qualification            int64
prev_qualification_grade    float64
nationality                   int64
mother_qualification          int64
father_qualification        float64
mother_occupation             int64
father_occupation             int64
admission_grade             float64
displaced                     int64
special_needs                 int64
debtor                      float64
fees_up_to_date             float64
gender                        int64
scholarship_holder            int64
age_at_enrollment           float64
international               float64
cu_1st_sem_credited         float64
cu_1st_sem_enrolled           int64
cu_1st_sem_evaluations        int64
cu_1st_sem_approved           int64
cu_1st_sem_grade            float64
cu_1st_sem_no_evals           int64
cu_2nd_sem_credited           int64
cu_2nd_sem_enrolled         float64
cu_2nd_sem_evaluations        int64
cu_2nd_sem_approved           int64
cu_2nd_sem_grade            float64
cu_2nd_sem_no_evals           int64
unemployment_rate           float64
inflation_rate              float64
gdp                         float64
target                       object
dtype: object

I see there are errors in:
    ['Displaced']
    ['Tuition fees up to date']
    ['Age at enrollment']
    ['Curricular units 1st sem (credited)']
    ['Marital Status']
So I am going to investigate each feature further.

In [60]:
unique_values = df['displaced'].unique()
print(unique_values)

[1 0]

I see there's no mistakes so I will just convert the str to numeric

In [61]:
df['displaced'] = df['displaced'].astype(int)

In [63]:
unique_values = df['fees_up_to_date'].unique()
print(unique_values)

[1. 0.]

I see the problem is the ?, so I just need to see how often it's present.

In [64]:
question_mark_counts = df['fees_up_to_date'].value_counts()
print(question_mark_counts)

fees_up_to_date
1.0    3886
0.0     526
Name: count, dtype: int64

As there is only one occurence of it I will just replace it with NaN using numpy

In [65]:
import numpy as np
df['fees_up_to_date'] = pd.to_numeric(df['fees_up_to_date'], errors='coerce')

In [67]:
unique_values = df['age_at_enrollment'].unique()
print(unique_values)

[1. 0.]

In [68]:
UnKnown = df['age_at_enrollment'].value_counts()
print(UnKnown)

age_at_enrollment
1.0    3886
0.0     526
Name: count, dtype: int64

As there is only 1 occurence I will again replace it with NaN

In [69]:
df['age_at_enrollment'] = pd.to_numeric(df['age_at_enrollment'], errors='coerce')

In [71]:
unique_values = df['cu_1st_sem_credited'].unique()
print(unique_values)

[ 0.  2.  3.  6.  7. 13.  4.  1.  5. 19. 11.  8. 10.  9. 15. 12. 14. 18.
 17. 16. 20.]

In [72]:
Na = df['cu_1st_sem_credited'].value_counts()
print (Na)

cu_1st_sem_credited
0.0     3838
2.0       94
1.0       85
3.0       68
6.0       50
4.0       47
7.0       41
5.0       40
8.0       31
9.0       27
11.0      17
10.0      15
14.0      15
13.0      13
12.0      12
15.0       5
18.0       4
17.0       3
16.0       3
19.0       2
20.0       2
Name: count, dtype: int64

Same thing again, as it's only one occurencce just gonna swap it with NaN

In [74]:
df['cu_1st_sem_credited'] = pd.to_numeric(df['cu_1st_sem_credited'], errors='coerce')

In [75]:
unique_values = df['marital_status'].unique()
print(unique_values)

[1. 2. 4. 3. 5. 6.]

In [76]:
q_mark = df['marital_status'].value_counts()
print (q_mark)

marital_status
1.0    3909
2.0     377
4.0      91
5.0      25
6.0       6
3.0       4
Name: count, dtype: int64

Exact same as before, 1 occurence so swap to NaN

In [77]:
df['marital_status'] = pd.to_numeric(df['marital_status'], errors='coerce')

Now Let's double check and make sure everything worked

In [78]:
df.dtypes

marital_status              float64
application_mode              int64
application_order             int64
course                      float64
attendance_type               int64
prev_qualification            int64
prev_qualification_grade    float64
nationality                   int64
mother_qualification          int64
father_qualification        float64
mother_occupation             int64
father_occupation             int64
admission_grade             float64
displaced                     int64
special_needs                 int64
debtor                      float64
fees_up_to_date             float64
gender                        int64
scholarship_holder            int64
age_at_enrollment           float64
international               float64
cu_1st_sem_credited         float64
cu_1st_sem_enrolled           int64
cu_1st_sem_evaluations        int64
cu_1st_sem_approved           int64
cu_1st_sem_grade            float64
cu_1st_sem_no_evals           int64
cu_2nd_sem_credited           int64
cu_2nd_sem_enrolled         float64
cu_2nd_sem_evaluations        int64
cu_2nd_sem_approved           int64
cu_2nd_sem_grade            float64
cu_2nd_sem_no_evals           int64
unemployment_rate           float64
inflation_rate              float64
gdp                         float64
target                       object
dtype: object

Finally I am going to investigate the Target column and clean up any mistakes.

In [79]:
Unique_values = df['target'].unique()
print (Unique_values)

['Dropout' 'Graduate' 'Enrolled']

In [80]:
syntax = {
    'Drop': 'Dropout',
    'dropout': 'Dropout',
    'graduate': 'Graduate',
    'Grad': 'Graduate'}
df['target'] = df['target'].replace(syntax)

Now to just double check replacing the syntax error worked

In [81]:
df['target'].unique()

array(['Dropout', 'Graduate', 'Enrolled'], dtype=object)

In [111]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [113]:
X = np.dot(rng.rand(2, 2), rng.randn(2, 200)).T 
plt.scatter(X[:, 0], X[:, 1]) 
plt.axis('equal');

NameError: name 'rng' is not defined

In [112]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pca.fit(X)
PCA(copy=True, n_components=2, whiten=False)

NameError: name 'X' is not defined